<p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>
 
<p>
  <strong>Query:</strong>
  <%= query.body %>
</p>

<p>
  <%= link_to 'Destroy Comment', [query.property, query],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>